scripts/imgw-collector/data/
scripts/imgw-collector/content.html
scripts/imgw-collector/links.txt
**/__pycache__
**/.cache
**/.vscode
**/*.egg-info/
**/*.log
**/*.zip
**/config*.json
**/*.secret
**/*.csv*
**/*prediction_goodness.txt
**/**/*.jpg
**/**/*.png
**/*.Rhistory
**/*.txt
**/*diagram/**
thesis/articles/
**/observation*
thesis/*.log
thesis/*.swp
db-backup/**
