**/__pycache__
**/.cache
**/.vscode
**/*.egg-info/
**/*.log
**/*.zip
**/config*.json
**/*.secret
**/**/*.jpg
**/**/*.png
**/*.Rhistory
**/*.txt
**/*.html
**/*diagram/**
thesis/articles/
**/observation*
thesis/*.log
thesis/*.swp
db-backups/**
data/**
**/*.csv*
**/*.xlsx*
**/bin
**/include
**/lib
**/lib64
**/share
